<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KeySeluler03.My.MySettings.DBPersediaan03ConnectionString" connectionString="Data Source=DESKTOP-JKJK7T7\SQLEXPRESS;Initial Catalog=DBPersediaan03;Persist Security Info=True;User ID=faisalachmaddwicahyono;Password=29maret97" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
